<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap"
      rel="stylesheet"
    /> -->

    <title>Party Wave</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/beaches">Beaches</a>
        <a href="/beaches/new">Add New Beach</a>
      </nav>
    </header>

    <h1>Edit</h1>

    <form action="/beaches/<%= beach._id %>?method=PUT" method="POST">
      Name: <input type="text" name="name" value="<%= beach.name %>" />
      <br /><br />
      Street Address:
      <input
        type="text"
        name="streetAddress"
        value="<%= beach.streetAddress %>"
      />
      <br /><br />
      City: <input type="text" name="city" value="<%= beach.city %>" />
      <br /><br />
      Zip: <input type="text" name="zip" value="<%= beach.zip %>" />
      <br /><br />
      County: <input type="text" name="county" value="<%= beach.county %>" />
      <br /><br />
      Link To Surfline Surf Report:
      <input type="text" name="surflineSrc" value="<%= beach.surflineSrc %>" />
      <br /><br />
      Link To Live Surf Cam:
      <input type="text" name="surfCamSrc" value="<%= beach.surfCamSrc %>" />
      <br /><br />

      <button type="submit">Edit Beach</button>
    </form>
  </body>
</html>
