<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<body>
    <%- include('partials/nav.ejs') %>
    <h3 class='pagetitles'>All Beaches</h3>

    <div class="transparent-background">
      <div class='beachcards-beachindexpage'>
        <% if (beaches.length) { %> 
          <% for (let i = 0; i < beaches.length; i++) { %>
            <div class="likedBeachCard-wrapper">
              <div class="likedBeachCard">
                <a>
                <a href="/user/">
                  <img class="like-surf-board-icon" src="/images/surfBoard.png" aria-hidden="true"></i>
                </a>
                <img src="/images/surfboardrocker.jpg" alt="Waves" style="width: 100%; height: 50%" />
                <p>
                  <button class='beachindexpagebuttons'>
                    <a href="/beaches/<%= beaches[i]._id %>">
                      <h4 class='beachindexpagebeachbuttons'><%= beaches[i].name %></h4>
                    </a>
                  </button>
                </p>
                

              </div>
    
    
    
              <div>
            </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
          <% } %> <% } else { %>
            <h3>Sorry, doesn't look like we have any beaches uploaded yet</h3>
          <% } %>
        </div>
      </div>
    </div>
  <%- include('./partials/footer.ejs') %>
  <%- include('partials/bs.ejs') %>
  <script src="/js/working.js"></script>
</body>
</html>
