<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/nav.ejs') %>

  <h3>All Beaches</h3>
  <div>
    <% if (beaches.length) { %> <% for (let i = 0; i < beaches.length; i++) { %>
    <div>
      <a href="/beaches/<%= beaches[i]._id %>">
        <h4><%= beaches[i].name %></h4>
        <i class="fa fa-eercast" aria-hidden="true"></i>
      </a>
    </div>
    <% } %> <% } else { %>
    <h3>Sorry, doesn't look like we have any beaches uploaded yet</h3>
    <% } %>
  </div>

  <%- include('partials/bs.ejs') %>
</body>
</html>
