<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
  <%- include('partials/nav.ejs') %>
  <h3 class="pagetitles">Add A Beach</h3>
  <div class="white-background">
    <div>
      <form action="/beaches" method="POST">
        Name: <input type="text" name="name" /> <br/><br/>
        Street Address: <input type="text" name="streetAddress" /> <br/><br/>
        City: <input type="text" name="city" /> <br/><br/>
        Zip: <input type="text" name="zip" /> <br/><br/>
        <div>
          <label for="county">County</label>
          <select name="countyId" id="county">
            <% counties.forEach(county => { %>
            <option value="<%= county._id %>"><%= county.name %></option>
            <% }) %>
          </select>
        </div>
        Link To Surfline Surf Report: <input type="text" name="surflineSrc" /><br/><br/>
        Link To Live Surf Cam: <input type="text" name="surfCamSrc" /><br/><br/>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
  <%- include('partials/bs.ejs') %>
</body>
</html>
