<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />

  <!-- <link
    href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap"
    rel="stylesheet"
  /> -->
  
    <title>Party Wave</title>
</head>
<body>
    <header>
        <nav>
          <a href="/">Home</a>
          <a href="/beaches">All Beaches</a>
          <a href="/beaches/new">Add New Beach</a>
        </nav>
      </header>

    <h1>Show Page: Beach</h1>

    <h2>Name: <%= beach.name %></h2>
    <p>County: <%= beach.county %></p>
    <p>Address: <%= beach.streetAddress%>  <%= beach.city%>, <%= beach.zip%></p>
    <p>Surf Report: 
      <link src="<%= beach.surflineSrc %>">
    </p>
    <p>Surf Cam: 
      <link src="<%= beach.surfCamSrc %>">
    </p>
  
    <!-- Delete Button -->
    <form style="display: inline-block;" method="POST" action="/beaches/<%= beach.id %>?_method=DELETE">
      <button type="submit">Delete</button>
    </form>

  
    <!-- Edit Button -->
    <a href="/beaches/<%= beach.id %>/edit">
      <button>Edit</button>
    </a>


</br>
</br>
    <!--- Add Comment Section -->

    <h1>Add A Comment About A Beach</h1>
    <form action='/beaches/<%= beach.id %>/comments/new' method='POST'>
      User: <input type='text' name='user' /> <br/><br/>
      Date: <input type='text' name='date' /> <br/><br/>
      Comment: <input type='text' name='body' /> <br/><br/>  
      <button type="submit">Submit</button>
    </form>



    <!--- See Other's Comments Section -->

    <h1>Other's Comments On This Beach</h1>
    
      <% if (comments.length) { %> <% for (let i = 0; i < comments.length; i++) { %>
        <div>
          <a href="/comments/<%= comments[i]._id %>">
            <h4><%= comments[i].body %></h4>
          </a>
        </div>
        <% } %> <% } else { %>
        <h4>Be the first to write a review</h4>
        <% } %>



    <!------------BootStrap JS---------->

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    
   
</body>
</html>