<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
    <%- include('partials/nav.ejs') %>

    <div class="beach-wapper">
      <div class="beach-info">
        <h4><%= beach.name %></h4>
        <p>
          Address: <%= beach.streetAddress%> <%= beach.city%>, <%= beach.zip%>
        </p>
        <p>County: <%= beach.county[0].name %></p>
        <!-- this should be a link to the county show page, redirects to see all beaches like the link will take you from the cards on the home page -->
        <p>
          Surf Report:
          <link src="<%= beach.surflineSrc %>" />
        </p>
        <p>
          Surf Cam:
          <link src="<%= beach.surfCamSrc %>" />
        </p>
      </div>

      <!-- Delete Button -->
      <form
        style="display: inline-block;"
        method="POST"
        action="/beaches/<%= beach.id %>?_method=DELETE"
      >
        <button type="submit">Delete</button>
      </form>

      <!-- Edit Button -->
      <a href="/beaches/<%= beach.id %>/edit">
        <button>Edit</button>
      </a>

      <!-- Like Button -->
      <button>
        <span class="fa fa-star" aria-hidden="true"></span>
      </button>
      <hr />

      <!--- Comments -->
      <div class="comment-section">
        <!--- See Other's Comments Section -->
        <div class="posted-comments">
          <h3>Comments</h3>
          <div>
            <% if (beach.comments.length) { %> <% for (let i = 0; i <
            beach.comments.length; i++) { %>
            <div>
              <p>
                <%= beach.comments[i].body %> | Posted: <%=
                beach.comments[i].date %> | User: <%= beach.comments[i].user %>
              </p>
              <a href="/comments/<%= beach.comments[i]._id %>"
                ><%= beach.comments[i].id %></a
              >
              <hr />
            </div>
            <% } %> <% } else { %>
            <h3>Be the first to write a review</h3>
            <% } %>
          </div>
          <% } %> <% } else { %>
          <h4>Be the first to write a review</h4>
          <% } %>
        </div>

        <!--- Add Comment Section -->
        <div class="add-comment">
          <form action="/beaches/<%= beach.id %>/comments/new" method="POST">
            User: <input type="text" name="user" /> <br /><br />
            Date: <input type="text" name="date" /> <br /><br />
            Comment: <input type="text" name="body" /> <br /><br />
            <button type="submit">Add Comment</button>
          </form>
        </div>
      </div>
      <hr />
    </div>

    <%- include('partials/bs.ejs') %>
    <script src="/js/working.js"></script>
  </body>
</html>
