<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />

    <!-- Bootstrap -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap"
      rel="stylesheet"
    /> -->

    <title>Party Wave</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/beaches">Beaches</a>
        <a href="/beaches/new">Add New Beach</a>
      </nav>
    </header>

    <h1>Show Page: Beach</h1>

    <h2>Name: <%= beach.name %></h2>
    <p>County: <%= beach.county %></p>

    <p>Address: <%= beach.streetAddress%> <%= beach.city%>, <%= beach.zip%></p>
    <p>Surf Report: <link src="<%= beach.surflineSrc %>" /></p>
    <p>Surf Cam: <link src="<%= beach.surfCamSrc %>" /></p>

    <!-- Delete Button -->
    <form
      style="display: inline-block;"
      method="POST"
      action="/beaches/<%= beach.id %>?_method=DELETE"
    >
      <button type="submit">Delete</button>
    </form>

    <!-- Edit Button -->
    <a href="/beaches/<%= beach.id %>/edit">
      <button>Edit</button>
    </a>
  </body>
</html>
