
<!-- old beach info card -->
          <div class="justthisbeachinfo">
            <div>
              <video class="beach-info-img" autoplay>
                <source
                  src="blob:https://www.surfline.com/d4e3b074-872d-4f89-ba3f-1ced46d6cdfa"
                  alt="Waves"
                  style="size: 50%;"
                />
              </video>
            </div>
            <div class="beach-info-text">
              <h4><%= beach.name %></h4>
              <p><%= beach.county[0].name %></p>
              <p><%= beach.streetAddress%> <%= beach.city %>, <%= beach.zip %></p>
              <p>Surf Report: <%= beach.surflineSrc %></p>
              <p>Surf Cam: <%= beach.surfCamSrc %></p>
              <div class="beachinfobuttons">
                <!-- Delete Button -->
                <form
                  style="display: inline-block;"
                  method="POST"
                  action="/beaches/<%= beach.id %>?_method=DELETE"
                >
                  <button type="submit">Delete</button>
                </form>
                <!-- Edit Button -->
                <a href="/beaches/<%= beach.id %>/edit">
                  <button>Edit</button>
                </a>
              </div>
            </div>
          </div>