<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

  <body>
    <%- include('../partials/nav.ejs') %>

    <h3 class="pagetitles">Your Profile</h3>
    <div>
      <div>
        <h4><%= user.username %></h4>
        <p><%= user.firstName %> <%= user.lastName %></p>
        <p><%= user.email%></p>
      </div>


      
      <!-- Liked Beaches Cards -->
      <div class="liked-beaches">
        <h3>Saved Waves</h3>
        <div>
          <% if (user.beaches.length) { %> 
            <% for (let i = 0; i <user.beaches.length; i++) { %>
              <div class="likedBeachCard">
                <img src="/Public/images/surfboardrocker.jpg" alt="Waves" style="width: 100%;" />
                <h1><%= user.beaches[i].name %></h1>
                <p><%= user.beaches[i].streetAddress %> <%= user.beaches[i].city %>, <%= user.beaches[i].zip %></p>
                <p><%= user.beaches[i].County %></p>
                <a href="/beaches/<%= user.beaches[i]._id %>"><i class="fa fa-twitter"></i></a>
              </div>
              <% } %> <% } else { %>
              <p>Like beaches to save them here</p>
              <% } %>
        </div>
      </div>
    </div>

    <%- include('../partials/bs.ejs') %>
  </body>
</html>
