<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>
  
  <div>
    <div>
      <h4><%= user.username %></h4>
      <p><%= user.firstName %> <%= user.lastName %></p>
      <p><%= user.email%></p>
    </div>
 
    <!-- Edit Button -->
    <a href="/user/<%= user.id %>/edit">
      <button>Edit Profile</button>
    </a>

    <!-- Delete Button -->
    <form style="display: inline-block;" method="POST" action="/user/<%= user.id %>?_method=DELETE">
      <button type="submit">Delete Profile</button>
    </form>


    <!-- Liked Beaches Cards -->
    <div class="liked-beaches">
      <h3>Saved Waves</h3>
      <div>
        <% if (user.beaches.length) { %> <% for (let i = 0; i < user.beaches.length; i++) { %>
          <div>
            <a href="/beaches/<%= user.beaches[i]._id %>"></a>
            <h4><%= user.beaches[i].name %></h4>
            <p><%= user.beaches[i].streetAddress %>  <%= user.beaches[i].city %>, <%= user.beaches[i].zip %></p>
            <p><%= user.beaches[i].County %></p>
          </div>
          <% } %> <% } else { %>
          <p>Like beaches to save them here</p>
          <% } %>
      </div>
    </div>
    
  </div>

  <%- include('../partials/bs.ejs') %>
</body>
</html>