<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

  <body>
    <%- include('../partials/nav.ejs') %>

    <h3 class="pagetitles">Your Profile</h3>
    <div>
      <div>
        <h4><%= user.username %></h4>
        <p><%= user.firstName %> <%= user.lastName %></p>
        <p><%= user.email%></p>
      </div>
      <h4>Saved Waves</h4>
      





      <!-- Liked Beaches Cards -->
      <div class='beachcards-beachindexpage'>
          <% if (user.beaches.length) { %> 
            <% for (let i = 0; i <user.beaches.length; i++) { %>
              <div class="likedBeachCard">
                <img src="/images/surfboardrocker.jpg" alt="Waves" style="width: 100%; height: 50%" />
                <p class="beachindexcity"><%= user.beaches[i].city%></p>
                <p>
                  <button class='beachindexpagebuttons'>
                    <a href="/beaches/<%= user.beaches[i]._id %>">
                      <h4 class='beachindexpagebeachbuttons'><%= user.beaches[i].name %></h4>
                    </a>
                  </button>
                </p>
              </div>
          <% } %> <% } else { %>
            <p>Like beaches to save them here</p>
          <% } %>
      </div>


    
    </div>


 

























































    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/bs.ejs') %>
  </body>
</html>
